[Unit]
Description=Automatic USB Bluetooth Music Player
After=bluetooth.service local-fs.target remote-fs.target sound.target
Requires=bluetooth.service

[Service]
Type=simple
User=
Environment=XDG_RUNTIME_DIR=/run/user/1000
ExecStart=/usr/local/bin/bt-music-player.sh
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
